language: ruby
cache: bundler
dist: xenial

before_install:
  - gem install bundler || true
  - bundle --version
  - gem update --system
  - gem --version

matrix:
  include:
    - rvm: 2.4.5
    - rvm: 2.5.5
    - rvm: 2.6.3
    - rvm: ruby-head
  allow_failures:
    - rvm: ruby-head

branches:
  only:
    - master

bundler_args: --jobs 7

script: bundle exec rake travis:ci
